<div id="header-top">
    <div class="container clearfix">
        <div class="left-side">
            <ul class="header-links">
                
                        <li>
                            <a href="{{ route('nominations.create') }}">
                                    <i class="far fa-table" style="color: #46B2B4"></i>
                                <span>Crear Nominacion</span>
                            </a>
                        </li>

            </ul>
        </div>
        <div class="right-side">
    
            <div class="search-container">
                <form action="#" class="search-form">
                    <input type="search" name="s" class="s" placeholder="Search entry site here...">
                    <a href="#" title="Close Search" class="search-close-btn"></a>
                    <input type="submit" value="Submit" class="search-submit-btn">  
                </form>
                <strong>Resultados: </strong> <strong>{{ $nominations->total() }}</strong>
            </div><!-- End .search-container -->

            <a href="#" class="header-search-btn" title="Search"><span class="hidden-sm hidden-xs">Search</span></a>


    
    <div class="currency-dropdown dropdown">
        <a title="Currenct" class="dropdown-toggle" data-toggle="dropdown"><span class="long-name">10 filas</span><span class="short-name">10</span><span class="dropdown-arrow"></span></a>

        <ul class="dropdown-menu">
            <li><a href="#"><span class="long-name">10 filas</span><span class="short-name">10</span></a></li>
            <li><a href="#"><span class="long-name">20 filas</span><span class="short-name">20</span></a></li>
            <li><a href="#"><span class="long-name">50 filas</span><span class="short-name">50</span></a></li>
        </ul>
    </div><!-- End .currency-dropdown -->

    <div class="language-dropdown dropdown">
        <a title="Language" class="dropdown-toggle" data-toggle="dropdown"><span class="long-name">Scroll</span><span class="short-name">Up</span><span class="dropdown-arrow"></span></a>

        <ul class="dropdown-menu">
            <li><a href="#"><span class="long-name">Scroll NO</span><span class="short-name">Up</span> </a></li>                
            <li><a href="#"><span class="long-name">Scroll SI</span><span class="short-name">Down</span></a></li>
            
        </ul>
    </div><!-- End .language-dropdown -->
</div>
</div>
</div><!-- End #header-top -->